azure-functions
python-dotenv
aiohttp
dataclasses-json
azure-cosmos
langchain
langchain_experimental
openai
pyodbc
pydantic
pypdf
pycryptodome
tiktoken
faiss-cpu
pip-upgrader
azure-identity
azure.storage.blob
azureOpenAI
unstructured
unstructured[pdf]
chromadb